@import "scss/mui";
@import "scss/mixins";
@import "components/hamburgers/hamburgers";
@import "vars";

/* general classes */
.navigation-background { background-color: $navigation-color; color: #fff; &:hover { color: #fff; } }
.navigation-color { color: $navigation-color; }
.navigation-border { border-color: $navigation-color; }
.navigation-button {
  @include button-variant(
    #fff,
    $navigation-color);
  @include button-flat-variant(
    $navigation-color,
    darken($navigation-color,10%));
}

.main-button-background { background-color: $main-button-color; color: #fff; &:hover { color: #fff; } }
.main-button-color { color: $main-button-color; }
.main-button-border { border-color: $main-button-color; }
.main-button-height { height: $main-button-height; line-height: $main-button-height; }
.main-button {
  @include button-variant(
    #fff,
    $main-button-color);
  @include button-flat-variant(
    $main-button-color,
    darken($main-button-color,20%));
}

.secondary-button-background { background-color: $secondary-button-color; color: #fff; &:hover { color: #fff; } }
.secondary-button {
  @include button-variant(
    #fff,
    $secondary-button-color);
  @include button-flat-variant(
    $secondary-button-color,
    darken($secondary-button-color,20%));
}

darken( $base-color, 10% )


body {
	background: #ECECEC;
}

#main {
	
	font-family: 'Roboto', sans-serif;

	.main-content {
		position: relative;

		&.overlay {
			.main-menu .overlay {
				display: block;
			}
		}

		.content-background {
			position: relative;
			overflow: hidden;
		}

	}

	nav {

		&.fixed {
			position: fixed;
			top: 0;
			width: 100%;
			z-index: 10000;
		}

		div.topbar {

			position: relative;
			z-index: 200;
			height: $appbar-height;

			.appbar-action {
				background: none;
				position: absolute;
				color: #fff;
				border: none;
				top: 0;
				width: $appbar-height;
				line-height: $appbar-height;
				height: 100%;
				margin: 0;
				padding: 0;
				text-align: center;
				cursor: pointer;
			}

			h2 {
				margin: 0;
				padding: 0 $appbar-height;
				height: 100%;
				line-height: $appbar-height;
				color: #fff;
				font-family: Roboto;
				font-size: 14px;
				text-transform: uppercase;
			}

			img.logo {
				height: 20px;
				position: absolute;
				top: 50%;
				margin-top: -10px;
				left: $appbar-height;

				&.center {
					left: 0;
					right: 0;
					margin-left: auto;
					margin-right: auto;
					/*top: calc((#{$appbar-height} / 2) - 10px);*/
				}

			}

		}

		div.main-menu {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 300;
			/*transition-delay: .5s;*/

			&.hide {
				height: 0 !important;
			}

			div.button {
				position: absolute;
				width: 100%;
				z-index: 3;				
				top: - $appbar-height;
				height: $appbar-height;
	
				button.hamburger {
					width: $appbar-height;
					height: $appbar-height;
					line-height: $appbar-height;
				}
	
			}

			& > ul {
				background: #1E1E1E;
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				z-index: 2;
				overflow: hidden;
				@include transition(all .5s ease);

				& > li {
					line-height: 60px;
					height: 60px;
					border-bottom: 1px solid #575757;
					padding-left: $appbar-height;
					text-transform: uppercase;
					font-family: 'Roboto', sans-serif;
					font-size: 14px;
					cursor: pointer;
					color: #fff;

					&:hover, &.selected {
						font-weight: 700;
					}

				}
			}
			
			&.close {

				z-index: 299;

				div.button {
					width: $appbar-height;
				}

				& > ul {
					height: 0 !important;
				}
				& > span.overlay {
					opacity: 0;
					transition-delay: .5s;
				}
			}

			& > span.overlay {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.69;
				background: #000000;
				z-index: 1;
				@include transition(all .5s ease);
			}

		}

		div.lang-menu {
			position: absolute;
			width: 100%;
			height: 100%;
			z-index: 300;
			/*transition-delay: .5s;*/

			&.hide {
				height: 0 !important;
			}

			div.button {
				position: absolute;
				width: 100%;
				z-index: 3;				
				top: - $appbar-height;
				height: $appbar-height;
				overflow: hidden;

				button {
					padding: 0 16px;
					height: $appbar-height;
					line-height: $appbar-height;
					float: right;
					background: none;
					border: none;
					color: #fff;
					cursor: pointer;

					i.fa {
						float: left;
						font-size: 16px;
						height: 16px;
						line-height: 16px;
					}

					span {
						float: left;
						height: 16px;
						line-height: 17px;
						font-size: 10px;
						font-weight: 700;
						width: 30px;
						text-transform: uppercase;
					}

				}

				&:after {
					content: "";
					position: absolute;
					width: 0;
					height: 0;
					border-style: solid;
					border-width: 0 7px 8px 7px;
					border-color: transparent transparent #d6d6d6 transparent;
					top: calc(100% - 7px);
					right: 46px;
					@include transition(all .5s ease);
				}

			}

			& > ul {
				background: #D6D6D6;
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				z-index: 2;
				overflow: hidden;									
				@include transition(all .5s ease);

				& > li {
					line-height: 60px;
					height: 60px;
					border-bottom: 1px solid #fff;
					padding-left: $appbar-height;
					text-transform: uppercase;
					font-family: 'Roboto', sans-serif;
					font-size: 14px;
					cursor: pointer;

					&:hover, &.selected {
						font-weight: 700;
					}

				}
			}
			
			&.close {

				z-index: 299;

				div.button {
					right: 0;
					width: auto;
					&:after {
						height: 0;
						top: 100%;
					}
				}

				& > ul {
					height: 0 !important;
				}
				& > span.overlay {
					opacity: 0;
					transition-delay: .5s;
				}
			}

			& > span.overlay {
				position: absolute;
				display: block;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				opacity: 0.69;
				background: #000000;
				z-index: 1;
				@include transition(all .5s ease);
			}

		}


	}

	.loading-bar {
		height: $loading-bar-height;
		background: #fff;
		position: relative;
		width: 100%;

		& > .bar {
			width: 0%;
			min-width: 0%;
			max-width: 100%;
			height: $loading-bar-height;
			display: block;
			position: relative;
			background: $loading-bar-color;
			left: 0;
			@include transition(width .7s ease);
		}

	}

	nav.fixed + .loading-bar {
		top: $appbar-height;
		position: fixed;
		z-index: 10;
	}

	nav.fixed + .loading-bar + .main-content {
		padding-top: calc(#{$appbar-height} + #{$loading-bar-height});
	}
	
	nav.fixed + .main-content {
		padding-top: $appbar-height;
	}

	.bottombar {

		width: 100%;
		background: none;

		&.fixed {
			position: fixed;
			bottom: 0;
		}

		button {
			width: 100%;
			position: relative;
			margin: 0;
			border-radius: 0;
			border: none;

			span {
				position: absolute;
				height: 100%;
				width: 100%;
				left: 0;
				top: 0;
				font-weight: 300;
			}

			&.mui-btn--double {
				span {
					padding: 16px 26px;
				}
			}

			i {
				line-height: inherit !important;
			}
		}
		
	}

	.divider {

		display: block;
		overflow: hidden;
		position: relative;
		color: $divider-color;
		text-align: center;
		margin: 15px 0;
		min-height: 3px;

		&:before, &:after {
			content: "";
			display: block;
			border-bottom: 1px solid $divider-color;
			height: 1px;
			width: 50%;
			position: absolute;
			top: 50%;
		}

		&:before {
			right: 50%;
		}

		&:after {
			left: 50%;
		}

		&.with-text {
			&:before {
				right: 60%;
			}
			&:after {
				left: 60%;
			}
		}

	}

	@import "components/login";

	.listButton {
		position: relative;
		display: block;
		height: 63px;
		line-height: 63px;
		margin-bottom: 1px;
		border: none;
		width: 100%;
		text-align: left;
		cursor: pointer;

		& > span.content {
			text-transform: uppercase;
			font-weight: 700;
			font-size: 14px;
			padding-left: 18px;

			& > span.icon {
				float: left;
				width: 35px;
				height: 35px;
				border-style: solid;
				border-width: 1px;
				line-height: 34px;
				border-radius: 100%;
				text-align: center;
				margin-top: 14px;
				margin-left: 12px;
			}

		}

		& > i.fa {
			float: right;
			line-height: 63px;
			font-size: 22px;
			font-weight: bold;
			padding: 0 12px 0 18px;
		}

		&:last-child {
			margin-bottom: 0;
		}

	}

	.mui-textfield {

		position: relative;
		margin-bottom: 0;

		&.mui--is-not-empty > label {

			font-size: 12px;
			line-height: 15px;
			text-overflow: ellipsis;
			transform: translate(0px, 0px);

			& ~ span {
				opacity: 0;
			}
		}

		&.mui--is-empty > label ~ span.error {
			opacity: 0 !important;
		}

		&.mui--is-empty > label ~ span.success {
			opacity: 0 !important;
		}

		input {
			border-bottom-style: dotted;
		}

		span {
			font-size: 12px;
			line-height: 15px;
			color: rgba(0, 0, 0, 0.5);
			position: absolute;
			opacity: 0;
			margin-top: 5px;

			&.info {
				opacity: 1;
			}

		}

		&.error {

			input {
				border-color: $mui-danger-color;
			}

			label {
				color: $mui-danger-color;
			}

			span {
				opacity: 0;
			}

			span.error {
				opacity: 1 !important;
				color: $mui-danger-color;
			}

		}

		&.success {

			input {
				border-color: $mui-success-color;
			}

			label {
				color: $mui-success-color;
			}

			span {
				opacity: 0;
			}

			span.success {
				opacity: 1 !important;
				color: $mui-success-color;
			}

		}

		&.password {

			input {

				padding-right: 32px;

				&.real {
					opacity: 0;
				}

				&.ghost {
					position: absolute;
					z-index: 100;

					& + i {
						position: absolute;
						right: 0;
						height: 32px;
						width: 20px;
						line-height: 32px;
						z-index: 101;
						cursor: pointer;
						opacity: 0.4;
					}

				}

			}

			&.showPassword {
				input {
					&.real {
						opacity: 1;
					}
					&.ghost {
						display: none;
					}
				}
			}

		}

	}

	.mui-checkbox {

		& > label {
			display: block;
			padding-left: 30px;
			position: relative;

			& > svg {

				position: absolute;
				left: 0;

				rect {
					stroke: $checkbox-color;
				}

				path.check {
					opacity: 0;
					fill: $checkbox-color;
				}
			}

		}

		& > input {
			display: none;
		}

		& > input:checked + label {
			& > svg {
				path.check {
					opacity: 1;
				}
			}
		}

		& > span {
			display: none;
			font-size: 12px;
			line-height: 15px;
			color: rgba(0, 0, 0, 0.26);			
			padding-left: 30px;	
		}

		&.error {

			& > label {
				& > svg {
					rect {
						stroke: $mui-danger-color;
					}
					path.check {
						fill: $mui-danger-color;
					}
				}
			}

			& > span {
				display: block;
				color: $mui-danger-color;
			}
		}

	}

	.accordion {

		& > .section {
			margin-bottom: 1px;
/*			border-top: 1px solid #CFE4ED;
			border-bottom: 1px solid #CFE4ED;
*/
			& > label.accordion-title {

				padding: 0 15px;
				display: block;
				height: 34px;
				line-height: 34px;
				position: relative;
				background: #E3E3E3;
				color: #000000;
				cursor: pointer;

				&.success {
					background: lightgreen;
				}

				&.error {
					background: lightcoral;
					color: #fff;

					& > span {
						color: #fff !important;
						&.icon-left {
							background-position: -16px 0;
						}
						&.icon-open-close {
							color: #fff;
						}
				}

				}

				& > span {

					position: absolute;
					height: 34px;
					line-height: 34px;

					&.icon-open-close {
						right: 15px;
						color: $mui-primary-color;
					}

					&.icon-left {
						left: 15px;
						width: 16px;
						height: 16px;
						line-height: 16px;
						top: 50%;
						margin-top: -8px;
					}

					&.title {
						left: 45px;
					}

				}

			}

			& > .accordion-content {
				display: block;
				overflow: hidden;
				padding: 17px 15px 17px 45px;
				background: #FBFBFB;
				@include transition(all .5s ease);
			}

			&.close > .accordion-content {
				padding-top: 0;
				padding-bottom: 0;
				height: 0 !important;
			}

		}

	}

	.label {
		font-size: 8px;
		padding: 2px;

		&.label-black {
			background: #000;
			color: #fff;
		}

	}

	.action-component {

		text-align: center;
		padding: 20px 0;

		& > .validation-icon {
			width: 130px;
			height: 130px;
			background: $mui-primary-color;
			color: #fff;
			line-height: 130px;
			text-align: center;
			margin: 0 auto 10px;
			border-radius: 100%;

			.fa {
				font-size: 70px;
				line-height: 130px;
				color: rgba(255,255,255,0.8);
			}

		}

	}

	.suggestion {
		text-align: center;
		padding: 7px 15px;
		background: #D9EBF3;
		margin: 0;

		p {
			font-size: 10px;
			line-height: 16px;
			font-weight: 700;
			margin: 0;
			padding: 0;
		}
	}

	.mui-btn--0075aa {
	  @include button-variant(
	    #fff,
	    #0075aa);
	  @include button-flat-variant(
	    #0075aa,
	    $mui-btn-flat-bg-color-hover);
	}
	
	.mui-btn--50a1c6 {
	  @include button-variant(
	    #fff,
	    #50a1c6);
	  @include button-flat-variant(
	    #50a1c6,
	    $mui-btn-flat-bg-color-hover);
	}
	
	.mui-btn--68c6f0 {
	  @include button-variant(
	    #fff,
	    #68c6f0);
	  @include button-flat-variant(
	    #68c6f0,
	    $mui-btn-flat-bg-color-hover);
	}

	.mui-btn--006c68 {
	  @include button-variant(
	    #fff,
	    #006c68);
	  @include button-flat-variant(
	    #006c68,
	    $mui-btn-flat-bg-color-hover);
	}

	.mui-btn--db0015 {
	  @include button-variant(
	    #fff,
	    #db0015);
	  @include button-flat-variant(
	    #db0015,
	    $mui-btn-flat-bg-color-hover);
	}

	.mui-btn.mui-btn--double {

		line-height: 16px;
		padding-height: 16px;
		text-align: left;

	}

	.mui-btn--more {
	  @include button-variant(
	    rgba(255,255,255,.7),
	    rgba(255,255,255,.1));
	  @include button-flat-variant(
	    rgba(255,255,255,.7),
	    rgba(255,255,255,.1));
	}

	.mui-btn--black {
	  @include button-variant(
	    #fff,
	    #000);
	  @include button-flat-variant(
	    #fff,
	    #000);
	}

	.mui-panel {
		/* card: */
		background: #FFFFFF;
		box-shadow: 0px 13px 21px 0px #1F6D8A;
		border-radius: 4px 5px 5px 5px;
		overflow: hidden;
	}

	.app-menu {

		position: fixed;
		bottom: 0;
		z-index: 1900;
		background: #fff;
		min-height: 47px;
		width: 100%;
		font-weight: 100;

		& > span.icon-open-close {
			cursor: pointer;
			position: absolute;
			right: 0;
			top: 0;
			color: #000;
			line-height: 47px;
			height: 47px;
			width: 60px;
			margin: 0;
			z-index: 50;
			text-align: center;
			padding-top: 3px;
			cursor: pointer;

			i {
				display: block;
				height: 20px;
				line-height: 24px;
				font-size: 18px;
			}

			label {
				display: block;
				height: 12px;
				line-height: 12px;
				font-size: 12px;
				cursor: pointer;
				font-weight: 100;
			}

		}

		& > .list {

			h3 {
				position: absolute;
				height: 47px;
				width: 100%;
				text-align: center;
				text-transform: uppercase;
				color: #000;
				background: #fff;
				font-family: 'Roboto', sans-serif;
				font-size: 16px;
				font-weight: 500;
				line-height: 47px;
				margin: 0;
				padding: 0;
				top: 100%;
				z-index: 10;
				@include transition(all .5s ease);
			}

			ul {

				position: absolute;
				white-space: nowrap;
				margin: 0;
				padding: 0;
				width: 100%;
				@include transition(all .5s ease);

				li {

					background: none;
					border: none;
					display: inline-block;
					height: 47px;
					width: calc((100% - 60px) / 3);
					border-right: 1px solid #D3CDCD;
					text-align: center;

					&:nth-child(n+4) {
						display: none;
					}

					span.icon {
						width: 23px;
						height: 23px;
						margin: 0 auto;
						padding-top: 5px;
						line-height: 23px;
						text-align: center;
						vertical-align: middle;

						img {
							height: 45%;
						}

					}

					h4 {
						font-family: 'Roboto', sans-serif;
						font-weight: 300;
						font-size: 12px;
						color: rgba(0,0,0,0.87);
						letter-spacing: 0.42px;
						text-transform: none;
						margin: 0;
					}

					p {
						display: none;
					}

				}
			}


		}

		&.open > .list {

			h3 {
				top: 0;
				background: #E2E2E2;
			}

			ul {
				list-style: none;
				margin: 0;
				padding: 0;
				position: absolute;
				width: 100%;
				bottom: 47px;
				margin-bottom: 0;
				background-image: linear-gradient(-179deg, #FFFFFF 0%, #D5D6D7 100%);

				li {
					margin: 0;
					height: 60px;
					background: none;
					position: relative;
					padding: 15px 15px 15px 50px;
					cursor: pointer;
					display: block;
					width: 100%;
					border-bottom: 1px solid #fff;

					h4 {
						margin: 0;
						padding: 0;
						line-height: 15px;
						font-family: 'Roboto', sans-serif;
						font-weight: 400;
						font-size: 14px;
						color: rgba(0,0,0,0.80);
						letter-spacing: 0.5px;
						text-transform: uppercase;
						text-align: left;
					}

					p {
						font-family: 'Roboto', sans-serif;
						font-weight: 300;
						font-size: 10px;
						color: rgba(0,0,0,0.80);
						letter-spacing: 0.5px;						
						margin: 0;
						padding: 0;
						line-height: 15px;
						display: block;
						text-align: left;
					}

					span.icon {
						box-sizing: border-box;
						position: absolute;
						height: 24px;
						width: 24px;
						top: 50%;
						left: 11px;
						margin-top: -12px;
						overflow: hidden;
						padding: 0;

						img {
							height: 80%;
						}

					}

				}	

			}

		}

		&.pre_open > .list {

			overflow: hidden;
			height: 47px;

			h3 {
				top: 0;
				@include transition(all .5s ease);
			}

			ul {
				margin-bottom: -100%;
			}

		}

		&.pre_close.open > .list {

			h3 {
				background: #fff;				
			}

			ul {
				@include transition(all .5s ease);
				margin-bottom: -100%;
			}

		}


	}

	.modal {
		position: fixed;
		top: 100%;
		left: 0;
		width: 100%;
		height: 0;
		background: #DDDDDD;
		z-index: 10001;
		overflow: hidden;
		@include transition(all .5s ease);

		&.open {
			top: 0;
			height: 100%;
		}

		& > .modal-content {
			height: calc(100% - #{$appbar-height});
			overflow: scroll;
		}

	}

	.go-online-button {
		position: absolute;
		bottom: 0;
		font-family: "Roboto", sans-serif;
		height: 63px;
		margin: 30px;
		width: calc(100% - 60px);
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		line-height: 63px;
		text-align: center;

		i {
			position: absolute;
			right: 22px;
			font-weight: bold;
			top: 50%;
			height: 20px;
			line-height: 20px;
			font-size: 22px;
			margin-top: -10px;
		}

	}


}
































@import "scss/showcase";
