@import "scss/mui";
@import "vars";
@import "scss/mixins";

/* general classes */
.navigation-background { background-color: $navigation-color; color: #fff; &:hover { color: #fff; } }
.navigation-color { color: $navigation-color; }
.navigation-border { border-color: $navigation-color; }
.navigation-button {
  @include button-variant(
    #fff,
    $navigation-color);
  @include button-flat-variant(
    $navigation-color,
    darken($navigation-color,10%));
}

.main-button-background { background-color: $main-button-color; color: #fff; &:hover { color: #fff; } }
.main-button-color { color: $main-button-color; }
.main-button-border { border-color: $main-button-color; }
.main-button-height { height: $main-button-height; line-height: $main-button-height; }
.main-button {
  @include button-variant(
    #fff,
    $main-button-color);
  @include button-flat-variant(
    $main-button-color,
    darken($main-button-color,20%));
}

.secondary-button-background { background-color: $secondary-button-color; color: #fff; &:hover { color: #fff; } }
.secondary-button {
  @include button-variant(
    #fff,
    $secondary-button-color);
  @include button-flat-variant(
    $secondary-button-color,
    darken($secondary-button-color,20%));
}

.mui-btn.mui-btn--double {

	line-height: 16px;
	padding-height: 16px;
	text-align: left;

}


body {
	background: #ECECEC;
}

#main {

	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	@import "components/main-structure";
	
	@import "components/login";
	
	@import "components/general-components";

	@import "components/accordion";

	@import "components/app-menu";

}
