@import "scss/mui";
@import "vars";
@import "scss/mixins";

/* general classes */
.navigation-background { background-color: $navigation-color; color: #fff; &:hover { color: #fff; } }
.navigation-color { color: $navigation-color; }
.navigation-border { border-color: $navigation-color; }
.navigation-button {
  @include button-variant(
    #fff,
    $navigation-color);
  @include button-flat-variant(
    $navigation-color,
    darken($navigation-color,10%));
}

.main-button-background { background-color: $main-button-color; color: #fff; &:hover { color: #fff; } }
.main-button-color { color: $main-button-color; }
.main-button-border { border-color: $main-button-color; }
.main-button-height { height: $main-button-height; line-height: $main-button-height; }
.main-button {
  @include button-variant(
    #fff,
    $main-button-color);
  @include button-flat-variant(
    $main-button-color,
    darken($main-button-color,20%));
}

.secondary-button-background { background-color: $secondary-button-color; color: #fff; &:hover { color: #fff; } }
.secondary-button {
  @include button-variant(
    #fff,
    $secondary-button-color);
  @include button-flat-variant(
    $secondary-button-color,
    darken($secondary-button-color,20%));
}

.mui-btn.mui-btn--double {

	line-height: 16px;
	padding-height: 16px;
	text-align: left;

}


body {
	background: #ECECEC;
}

#main {

	font-family: 'Roboto', sans-serif;
	font-weight: 300;

	@import "components/main-structure";
	
	.sliderContainer {

		color: #fff;
		overflow: hidden;

		h3.headline {
			color: #fff;
			position: absolute;
			bottom: 0;
			font-size: 24px;
			font-weight: normal;
			text-align: center;
			width: 70%;
			left: 15%;
		}

	}

	.go-online-button {
		position: absolute;
		bottom: 0;
		height: 63px;
		margin: 30px;
		width: calc(100% - 60px);
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		line-height: 63px;
		text-align: center;

		i {
			position: absolute;
			right: 22px;
			font-weight: bold;
			top: 50%;
			height: 20px;
			line-height: 20px;
			font-size: 22px;
			margin-top: -10px;
		}

	}

}































