@import "scss/mui";
@import "vars";
@import "scss/mixins";
@import "fonts/Roboto";

/* general classes */
.navigation-background { background-color: $navigation-color; color: #fff; &:hover { color: #fff; } }
.navigation-color { color: $navigation-color; }
.navigation-border { border-color: $navigation-color; }
.navigation-button {
  @include button-variant(
    #fff,
    $navigation-color);
  @include button-flat-variant(
    $navigation-color,
    darken($navigation-color,10%));
}

.main-button-background { background-color: $main-button-color; color: #fff; &:hover { color: #fff; } }
.main-button-color { color: $main-button-color; }
.main-button-border { border-color: $main-button-color; }
.main-button-height { height: $main-button-height; line-height: $main-button-height; }
.main-button {
  @include button-variant(
    #fff,
    $main-button-color);
  @include button-flat-variant(
    $main-button-color,
    darken($main-button-color,20%));
}

.secondary-button-background { background-color: $secondary-button-color; color: #fff; &:hover { color: #fff; } }
.secondary-button {
  @include button-variant(
    #fff,
    $secondary-button-color);
  @include button-flat-variant(
    $secondary-button-color,
    darken($secondary-button-color,20%));
}

.mui-btn.mui-btn--double {

	line-height: 16px;
	padding-height: 16px;
	text-align: left;

}


body {
	background: #ECECEC;
}

#main {

	font-family: 'Roboto', sans-serif;
	font-weight: 300;
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	overflow: scroll;

  @include fullscreen(10);

	@include transition(opacity .5s ease);

	@import "components/main-structure";

	@import "components/app-menu";	
	
	.sliderContainer {

		color: #fff;
		overflow: hidden;

		h3.headline {
			color: #fff;
			position: absolute;
			bottom: 0;
			font-size: 24px;
			font-weight: normal;
			text-align: center;
			width: 70%;
			left: 15%;
		}

	}

	.go-online-button {
		position: absolute;
		bottom: 0;
		height: 63px;
		margin: 30px;
		width: calc(100% - 60px);
		border: none;
		text-decoration: none;
		text-transform: uppercase;
		display: block;
		line-height: 63px;
		text-align: center;

		i {
			position: absolute;
			right: 22px;
			font-weight: bold;
			top: 50%;
			height: 20px;
			line-height: 20px;
			font-size: 22px;
			margin-top: -10px;
		}

	}

}

#loading_overlay {

  @include fullscreen(5);
  background: #ECECEC;
  display: none;
  position: fixed;

  img {
    position: absolute;
    width: 150px;
    height: 150px;
    margin-left: -75px;
    margin-top: -75px;
    top: 50%;
    left: 50%;
    opacity: 1 !important;
    @include transition(opacity .2s ease);
  }

  &.animate {
    display: block;
    opacity: 0;
    z-index: 32000;
    @include transition(opacity .5s ease);
  }

  &.show {
    opacity: 1;
  }

}


#error {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20%;
  z-index: 32200;
  background: #fff;
  border-top: 3px solid #f20;
  padding: 10px;
  overflow: scroll;
  margin: 0;
  display: none;

  &.open {
    display: block;
  }

}



























