/* VARIABLES */
$appbar-height: 47px;
$loading-bar-height: 5px;
$loading-bar-color: #9bbe6c;
$divider-color: rgba(0,0,0,0.24);
$menu-element-height: 60px;

$social-login-button-size: 55px;
$social-login-icon-size: 30px;

$checkbox-color: #0075AA;