/* VARIABLES */
$navigation-color: #1E1E1E;
$main-button-color: #00AB4A;
$main-button-height: 64px;


/* TOP BAR */
$appbar-height: 47px;

$loading-bar-height: 5px;
$loading-bar-color: #9bbe6c;

$divider-color: rgba(0,0,0,0.24);

$menu-element-height: 60px;

$social-login-button-size: 45px;
$social-login-icon-size: 20px;

$checkbox-color: #0075AA;