<!doctype html>
<html>
	<head>
	
		<title>Splashportal</title>
		<link href="/css/custom.css" rel="stylesheet">

	</head>
	<body>

		<div id="main">
			<div><%- main %></div>
		</div>

		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />  
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

		<script src="//cdn.muicss.com/mui-0.9.0/js/mui.min.js"></script>
		<script src="/bower_components/jquery/dist/jquery.min.js"></script>
		<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
		<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>

		<link href="/css/showcase.css" rel="stylesheet">
		<script src="/build/build.js?<%- rand %>"></script>

	</body>
</html>