<!doctype html>
<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<title>Splashportal</title>
		<link href="/css/custom.css" rel="stylesheet">
	</head>
	<body>

		<div id="main">
			<div><%- main %></div>
		</div>

		<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.3/css/font-awesome.min.css" rel="stylesheet" type="text/css" />  
		<link href="https://fonts.googleapis.com/css?family=Roboto:300,400,700" rel="stylesheet"> 

		<script src="/components/mui/packages/cdn/js/mui.min.js"></script>
		<script src="/components/jquery/dist/jquery.min.js"></script>
		<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
		<script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>

		<script src="/build/build.min.js?<%- rand %>"></script>

	</body>
</html>