@import "../vars";
@import "../scss/mixins";
@import "hamburgers/hamburgers";

.main-content {

	position: relative;
	@include transition(all .5s ease);

	&.overlay {
		.main-menu .overlay {
			display: block;
		}
	}

	.content-background {
		position: relative;
		max-width: 375px;
		margin-left: auto;
		margin-right: auto;
		border-radius: 3px;
		margin-top: -3px;
		overflow: hidden;
		box-shadow: 0px 2px 6px 0px rgba(0,0,0,0.6);
		background-color: #fff;

		@media only screen and (min-device-width : 376px) {
			margin-top: 50px;
			margin-bottom: 50px;
		}

		&.full {

			box-shadow: none;

			@media only screen and (min-device-width : 376px) {
				margin-top: 0;
				margin-bottom: 0;
			}

		}

		.verticalCentered {
			@include transition(all .5s ease);
		}

	}
}

nav {

  @include transition(top .5s ease);

	&.fixed {
		position: fixed;
		top: 0;
		width: 100%;
		z-index: 10000;
	}

	div.topbar {

		position: relative;
		z-index: 200;
		height: $appbar-height;

		.appbar-action {
			background: none;
			position: absolute;
			color: #fff;
			border: none;
			top: 0;
			width: $appbar-height;
			line-height: $appbar-height;
			height: 100%;
			margin: 0;
			padding: 0;
			text-align: center;
			cursor: pointer;
		}

		h2 {
			margin: 0;
			padding: 0 $appbar-height;
			height: 100%;
			line-height: $appbar-height;
			color: #fff;
			font-size: 14px;
			text-transform: uppercase;
		}

		img.logo {
			height: 20px;
			position: absolute;
			top: 50%;
			margin-top: -10px;
			left: $appbar-height;

			&.center {
				left: 0;
				right: 0;
				margin-left: auto;
				margin-right: auto;
				/*top: calc((#{$appbar-height} / 2) - 10px);*/
			}

		}

	}

	div.main-menu {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 300;
		/*transition-delay: .5s;*/

		&.hide {
			height: 0 !important;
		}

		div.button {
			position: absolute;
			width: 100%;
			z-index: 3;				
			top: - $appbar-height;
			height: $appbar-height;

			button.hamburger {
				width: $appbar-height;
				height: $appbar-height;
				line-height: $appbar-height;
			}

		}

		& > ul {
			background: #1E1E1E;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			width: 100%;
			z-index: 2;
			overflow: hidden;
			@include transition(all .5s ease);

			& > li {
				line-height: 60px;
				height: 60px;
				border-bottom: 1px solid #575757;
				padding-left: $appbar-height;
				text-transform: uppercase;
				font-size: 14px;
				cursor: pointer;
				color: #fff;

				&:hover, &.selected {
					font-weight: 700;
				}

			}
		}
		
		&.close {

			z-index: 299;

			div.button {
				width: $appbar-height;
			}

			& > ul {
				height: 0 !important;
			}
			& > span.overlay {
				opacity: 0;
				transition-delay: .5s;
			}
		}

		& > span.overlay {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.69;
			background: #000000;
			z-index: 1;
			@include transition(all .5s ease);
		}

	}

	div.lang-menu {
		position: absolute;
		width: 100%;
		height: 100%;
		z-index: 300;
		/*transition-delay: .5s;*/

		&.hide {
			height: 0 !important;
		}

		div.button {
			position: absolute;
			width: 100%;
			z-index: 3;				
			top: - $appbar-height;
			height: $appbar-height;
			overflow: hidden;

			button {
				padding: 0 16px;
				height: $appbar-height;
				line-height: $appbar-height;
				float: right;
				background: none;
				border: none;
				color: #fff;
				cursor: pointer;

				i.fa {
					float: left;
					font-size: 16px;
					height: 16px;
					line-height: 16px;
				}

				span {
					float: left;
					height: 16px;
					line-height: 17px;
					font-size: 10px;
					font-weight: 700;
					width: 30px;
					text-transform: uppercase;
				}

			}

			&:after {
				content: "";
				position: absolute;
				width: 0;
				height: 0;
				border-style: solid;
				border-width: 0 7px 8px 7px;
				border-color: transparent transparent #d6d6d6 transparent;
				top: calc(100% - 7px);
				right: 46px;
				@include transition(all .5s ease);
			}

		}

		& > ul {
			background: #D6D6D6;
			list-style: none;
			margin: 0;
			padding: 0;
			position: absolute;
			width: 100%;
			z-index: 2;
			overflow: hidden;									
			@include transition(all .5s ease);

			& > li {
				line-height: 60px;
				height: 60px;
				border-bottom: 1px solid #fff;
				padding-left: $appbar-height;
				text-transform: uppercase;
				font-size: 14px;
				cursor: pointer;

				&:hover, &.selected {
					font-weight: 700;
				}

			}
		}
		
		&.close {

			z-index: 299;

			div.button {
				right: 0;
				width: auto;
				&:after {
					height: 0;
					top: 100%;
				}
			}

			& > ul {
				height: 0 !important;
			}
			& > span.overlay {
				opacity: 0;
				transition-delay: .5s;
			}
		}

		& > span.overlay {
			position: absolute;
			display: block;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			opacity: 0.69;
			background: #000000;
			z-index: 1;
			@include transition(all .5s ease);
		}

	}
}

.loading-bar {
	height: $loading-bar-height;
	background: #fff;
	position: relative;
	width: 100%;

	& > .bar {
		width: 0%;
		min-width: 0%;
		max-width: 100%;
		height: $loading-bar-height;
		display: block;
		position: relative;
		background: $loading-bar-color;
		left: 0;
		@include transition(width .7s ease);
	}
}

nav.fixed + .loading-bar {
	top: $appbar-height;
	position: fixed;
	z-index: 10;
}

nav.fixed + .loading-bar + .main-content {
	padding-top: calc(#{$appbar-height} + #{$loading-bar-height});
	overflow: auto;
}

nav.fixed + .main-content {
	padding-top: $appbar-height;
}

.bottombar {

	width: 100%;
	background: none;

	&.fixed {
		position: fixed;
		bottom: 0;
	}

	button {
		width: 100%;
		position: relative;
		margin: 0;
		border-radius: 0;
		border: none;

		span {
			position: absolute;
			height: 100%;
			width: 100%;
			left: 0;
			top: 0;
			font-weight: 300;
		}

		&.mui-btn--double {
			span {
				padding: 16px 26px;
			}
		}

		i {
			line-height: inherit !important;
		}
	}
}
